{% extends 'archive/adminbase.html' %}
{% load widget_tweaks %}

{% block admin-top-cards %}{% endblock admin-top-cards %}

{% block admin-content %}
  <div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <img
          src="https://www.flaticon.com/svg/static/icons/svg/21/21104.svg"
          alt="" class="img img-thumbnail img-rounded">
        <br><br>
        <h4 class="text-center">CS/ND/F18/COM226</h4>
      </div>
      <div class="col-md-8">
        <ul class="list-group list-group-flush">

          <li class="list-group-item">
            <h6>Matric No: </h6>
            <h4>CS/ND/F18/COM226</h4>
          </li>
          <li class="list-group-item">
            <h5>First Name: </h5>
            <h4>Web</h4>
          </li>
          <li class="list-group-item">
            <h6>Last Name: </h6>
            <h4>Technology</h4>
          </li>
          <li class="list-group-item">
            <h6>Assigned Project</h6>
            <h4>DESIGN AND IMPLEMENTATION OF ONLINE ADVERTISEMENT SYSTEM</h4>
          </li>
          <li class="list-group-item">
            <h5>SuperVisor</h5>
            <h3>Mr Sherif</h3>
          </li>
        </ul>
        <div class="ml-4">
  
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock admin-content%}