{% extends 'archive/adminbase.html' %}
{% load widget_tweaks %}

{% block admin-top-cards %}{% endblock admin-top-cards %}

{% block admin-content %}
<div class="row">
  <div class="col-12">

    <div class="card mb-2">
      <div class="card-body">
        <div class="row">
          <div class="col-md-9">
            <h4><a href="">DESIGN AND IMPLEMENTATION OF A COMPUTERISED STUDENTS ADMISSION SYSTEM</a></h4>
            <br>
            <small class="text-muted">Submitted by CS/ND/F18/3164 on 12 April, 2020</small>
          </div>
          <div class="col-md-3">
            <a href="" class="btn btn-primary btn-sm">Download Project file</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-2">
      <div class="card-body">
        <div class="row">
          <div class="col-md-9">
            <h4><a href="">DESIGN AND IMPLEMENTATION OF A COMPUTERISED LIBRARY STOCK CONTROL SYSTEM</a></h4>
            <br>
            <small class="text-muted">Submitted by CS/ND/F18/3164 on 12 April, 2020</small>
          </div>
          <div class="col-md-3">
            <a href="" class="btn btn-primary btn-sm">Download Project file</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-2">
      <div class="card-body">
        <div class="row">
          <div class="col-md-9">
            <h4><a href="">CLOUD COMPUTING A BETTER MEANS OF IT OUTSOURCING</a></h4>
            <br>
            <small class="text-muted">Submitted by CS/ND/F18/3164 on 12 April, 2020</small>
          </div>
          <div class="col-md-3">
            <a href="" class="btn btn-primary btn-sm">Download Project file</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-2">
      <div class="card-body">
        <div class="row">
          <div class="col-md-9">
            <h4><a href="">AUTOMATED MARKET BASKET ANALYSIS SYSTEM</a></h4>
            <br>
            <small class="text-muted">Submitted by CS/ND/F18/3164 on 12 April, 2020</small>
          </div>
          <div class="col-md-3">
            <a href="" class="btn btn-primary btn-sm">Download Project file</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  {% endblock admin-content %}